@page
@model StudentManagementSystem.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>
    @Model.Student.LastName, @Model.Student.FirstName (@Model.Student.StudentId)
</h1>

<div>
    <h4>Delete Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.EnrolmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.EnrolmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PersonalEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PersonalEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.MobileTelephoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.MobileTelephoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.HomeTelephoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.HomeTelephoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentGender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.IsLookedAfterChild)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.IsLookedAfterChild)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.IsCareLeaver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.IsCareLeaver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.HasAdditionalNeeds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.HasAdditionalNeeds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.AddressPostcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.AddressPostcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.NiNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.NiNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.StudentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
